@import "tailwindcss";

:root {
  --inter: var(--font-inter);
  --font-noto-sans-jp: var(--font-noto-sans-jp);
}

@theme inline {
  --font-sans: var(--font-inter), var(--font-noto-sans-jp);
}

@layer base {
  input[type="date"] {
    @apply flex! items-center justify-between relative [&::-webkit-calendar-picker-indicator]:absolute [&::-webkit-calendar-picker-indicator]:right-3.5;
  }
}
